/* Especificidad: 001 */
body {
    background-image: url("../multimedia/fondo.jpg");
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: black;
    display: grid;
}
/* Especificidad: 001 */
nav {
    padding: 20px;
    text-align: left;
}
/* Especificidad: 001 */
a {    
    text-decoration: none;
    color: black;
    position: relative;
    font-size: 22px;
    margin-left: 50px;
    padding: 10px;
}
/* Especificidad: 003 */
nav a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #8C3616;
    transition: 0.3s;
    bottom: 0;
}
/* Especificidad: 013 */
nav a:hover:after {
    width: 100%;
}
/* Especificidad: 001 */
main {
    margin: 4%;
}
/* Especificidad: 001 */
h1 {
    font-size: 75px;
    font-weight: 200;
    line-height: 8px;
    text-transform: inherit;
    padding: 5px;
}
/* Especificidad: 002 */
h1 span {
    transform: scale(0.94);
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}
@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}
/* Especificidad: 001 */
h2 {
    font-size: 22px;
    margin-left: 6%;
}
/* Especificidad: 001 */
span {
    color: #8C3616;
}
/* Especificidad: 001 */
p {
    font-size: 18px;
    width: 50%;
}
/* Especificidad: 002 */
figure img {
    width: 20%;
    height: auto;
    border-radius: 50%;
    border-style: dashed;
    border-color: #8C3616;
    margin-top: 2%;
    margin-left: 8%;
}
/* Especificidad: 002 */
figure figcaption {
    margin-left: 14%;
}
/* Especificidad: 002 */
figure svg {
    padding: 15px;
    transition: .5s, color .10s;
    border-radius: 5%;
}
/* Especificidad: 012 */
figure svg:hover {
    box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
    transform: translate(0px, 5px);
}
/* Especificidad: 002 */
a svg {
    margin-left: 5%;
}
/* Especificidad: 001 */
ul {
    list-style-type: none;
    margin-left: 5%;
}
/* Especificidad: 001 */
li {
    padding: 5px;
    font-size: 18px;
}
/* Especificidad: 002 */
li svg {
    margin-right: 1%;
}
/* Especificidad: 001 */
form {
    position: absolute;
    display: grid;
    align-items: start;
    width: 100%;
    margin-left: 5%;
    margin-bottom: 5%;
}
/* Especificidad: 001 */
input, textarea {
    display: block;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #8C3616;
    padding: 13px;
    margin-bottom: 10px;
    width: 50%;
    box-sizing: border-box;
}
/* Especificidad: 001 */
textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}
/* Especificidad: 010 */
[type="submit"] {
    width: 50%;
    background: #8C3616;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 18px;
    margin-bottom: 2%;
}
/* Especificidad: 020 */
[type="submit"]:hover {
    background:#8C3616;
}
/* Media queries for screens smaller than 600px */
@media (max-width: 600px) {
    /* Especificidad: 001 */
    body {
        display: block;
    }
    /* Especificidad: 001 */
    a {
        margin-left: 0;
        display: block;
        text-align: center;
    }
    /* Especificidad: 001 */
    h1 {
        font-size: 50px;
    }
    /* Especificidad: 001 */
    p {
        width: 100%;
    }
    /* Especificidad: 002 */
    figure img {
        width: 50%;
        margin-left: 25%;
    }
    /* Especificidad: 002 */
    figure figcaption {
        margin-left: 0;
        text-align: center;
    }
    /* Especificidad: 001 */
    form {
        position:relative;
        width: 100%;
        margin-left: 25%;
    }
}