/* Especificidad: 001 */
body {
    background-image: url("../multimedia/fondo.jpg");
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: #000;
    display: grid;
    gap: 10px;
    padding: 10px;
}
/* Especificidad: 001 */
nav {
    padding: 18px;
    margin: 18px;
    text-align: left;
}
/* Especificidad: 001 */
a {    
    text-decoration: none;
    color: #000;
    position: relative;
    font-size: 20px;
    margin-left: 50px;
    padding: 10px;
}
/* Especificidad: 003 */
nav a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #8C3616;
    transition: 0.3s;
    bottom: 0;
}
/* Especificidad: 013 */
nav a:hover:after {
    width: 100%;
}
/* Especificidad: 001 */
main {
    margin: 12%;
}
/* Especificidad: 001 */
h1 {
    font-size: 75px;
    font-weight: 200;
    line-height: 8px;
    text-transform: inherit;
}
/* Especificidad: 002 */
h1 span {
    transform: scale(0.94);
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}
@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}
/* Especificidad: 001 */
h2 {
    font-size: 35px;
    margin-left: 5%;
}
/* Especificidad: 001 */
span {
    color: #8C3616;
}
/* Especificidad: 001 */
p {
    width: 50%;
}
/* Especificidad: 002 */
figure img {
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin-left: 5%;
    padding: 1%;
}
/* Especificidad: 002 */
figure figcaption {
    margin-left: 12%;
}
/* Especificidad: 002 */
figure svg {
    padding: 15px;
}